@import "bootstrap";
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";




.header {
    height: 100vh;
}

#conHeader {
    height: 100vh;
}

.profile-img {
    width: 70%;
    margin-left: 1em;
    -webkit-clip-path: polygon(100% 0, 100% 72%, 1% 100%, 1% 100%, 0 0);
    clip-path: polygon(100% 0, 100% 72%, 1% 100%, 1% 100%, 0 0);
    
    
}

link {
    overflow: hidden;
}

process-img {
    



}

card{
    overflow: hidden;

}


card-img{
    width: 100%;
}