@import "bootstrap";
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";


.heder {
    height: 80vh;
}

#conHeader {
    height: 80vh;
}

.profile-img {
    width: 70%;
    margin-left: 1em;
    -webkit-clip-path: polygon(100% 0, 100% 72%, 1% 100%, 1% 100%, 0 0);
    clip-path: polygon(100% 0, 100% 72%, 1% 100%, 1% 100%, 0 0); 
}

.link {
    overflow: hidden;
}

.card{
    overflow: hidden;
    border-radius: 0;
    
}







 
